<div class="full2">

    
   
    
      
      
      <div class="example-ripple-container mat-elevation-z4"
           matRipple
           [matRippleDisabled]="disabled"
           [matRippleUnbounded]="unbounded"       
           [matRippleColor]="color">
        <b>My Campaings</b> 
   

      </div>
      <div class="example-ripple-container2 mat-elevation-z4"
           matRipple
           [matRippleDisabled]="disabled"
           [matRippleUnbounded]="unbounded"
           [matRippleColor]="color">
       <b>Ongoing Campaings</b>
      </div>

      <div class="example-ripple-container3 mat-elevation-z4"
      matRipple
      [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded"
      [matRippleColor]="color">
      <b>Applied Campaings</b>
 </div>
 <!-- row 2-->
       <div class="example-ripple-container4 mat-elevation-z4 "
      matRipple
      [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded"
      [matRippleColor]="color">
      <b>Completed Campaings</b>
 </div>
 <div class="example-ripple-container5 mat-elevation-z4 "
 matRipple
 [matRippleDisabled]="disabled"
 [matRippleUnbounded]="unbounded"
 [matRippleColor]="color">
 <b>Earned</b>
</div>

<div class="example-ripple-container6 mat-elevation-z4 "
 matRipple
 [matRippleDisabled]="disabled"
 [matRippleUnbounded]="unbounded"
 [matRippleColor]="color">
 <b>Engagement Rate</b>
</div>


    

                

</div>