<!--


<mat-chip-list  aria-label="Color selection">
    <mat-chip *ngFor="let chip of availableColors" selected [color]="chip.color">
      {{chip.name}}
    </mat-chip>
  </mat-chip-list><br>
  <mat-form-field appearance="fill">
    <mat-label>Find Campaings</mat-label>
    <input matInput placeholder="">
    <mat-icon matPrefix>search</mat-icon>
   
  </mat-form-field>
  <div class="maincontainer1">

    <div class="thecard">

      <div class="thefront">
        <img src="../../assets/images/pan.gif" height="145px" width="250px">
        <h1>Pantene</h1>
        <h2>#FreedomHair</h2>
      </div>

      <div class="theback">
        <h1>Pantene</h1>
        <p>Showcase how Pantene keeps your hair silky & tension-free</p>
        <button mat-stroked-button color="primary" >Learn More</button>
        <button mat-stroked-button color="primary">Apply</button>
    </div>
    </div>
    </div>
    <div class="maincontainer2">

      <div class="thecard">

        <div class="thefront">
          <img src="../../assets/images/l5.png" height="145px" width="250px">
        <h1>Uber Eats</h1>
        <h2>#EatsNewEveryday</h2>
        </div>

        <div class="theback">
          <h1>Uber Eats</h1>
          <p>Don’t get bored of the same food every day! Let’s talk about all the great options available through UberEats.</p>
          <button mat-stroked-button color="primary" >Learn More</button>
          <button mat-stroked-button color="primary">Apply</button>
      </div>
      </div>
      </div>
    -->